<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>실습 1. Get 으로 정보 받기</h1>
    <form action="/resultGet" method="get">
        <label for="name">이름</label> 
        <input type="text">
    </form>

    
</body>
</html>