<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Practice 1</title>
    <link rel="stylesheet" href="../public/css/practice1.css">
</head>
<body>
    <div class="ball">
        <div class="ball one">
            <div class="eye"></div>
            <div class="black"></div>
        </div>
        <div class="ball two"></div>
        <div class="ball three"></div>
        <div class="ball four"></div>
        <div class="ball five z-2"></div>
    </div>
<div class="z-1"><img src="../public/css/grass.png" width="200px" height="50px" /></div>
    
</body>
</html>