<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/public/css/practice1.css">
    <link rel="stylesheet" href="/public/css/practice2.css">
    <script src="https://code.jquery.com/jquery-3.7.0.min.js" integrity="sha256-2Pmvv0kuTBOenSvLm6bvfBSSHrUJ+3A7x6P5Ebd07/g=" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/ui/1.13.2/jquery-ui.min.js" integrity="sha256-lSjKY0/srUM9BE3dPm+c4fBo1dky2v27Gdjm2uoZaL0=" crossorigin="anonymous"></script>
    <title>Document</title>
</head>
<body>
    <%= num %>
    <div>
        <% for (var i=1; i <10; i++) { %>
            <ul>
                <% for (var j=1; j <10; j++){ %>
                    <li><%= num[i] %> x <%= j %> = <%= (num[i] * j) %> </li> 
              <%  } %>
            </ul>
        <% } %>
    </div>
    
<!--     
    <div class="ball">
        <div class="ball one">
            <div class="eye"></div>
            <div class="black"></div>
        </div>
        <div class="ball two"></div>
        <div class="ball three"></div>
        <div class="ball four"></div>
        <div class="ball five z-2"></div>
        <div class="z-1"><img src="/public/image/grass.png" width="200px" height="50px" /></div>
    </div>

    <br />    <br />     <br />     <br />    <br />     <br />     <br />    <br />     <br />


    
    <img src="/public/image/apple.jpeg" width="300" height="300" />
    <div class="box">
        <button type="button" onclick="changeFruits('apple')">사과</button>
        <button type="button" onclick="changeFruits('banana')">바나나</button>
        <button type="button" onclick="changeFruits('grape')">포도</button>
        <button type="button" onclick="changeFruits('peach')">복숭아</button>
      </div>

      <script>
        function changeFruits(fruit) {
            $("img").attr("src", `/public/image/${fruit}.jpeg`)
        }
    </script> -->

    



</body>
</html>